- return if @grid_name.blank? and @screen_name.blank?
= javascript_include_tag 'kindeditor'
.wiki_wrapper
  - if current_user && current_user.respond_to?(:admin?) && current_user.admin?
    = form_for @wiki || WulinWiki::Wiki.new, as: :wiki, url: wulin_wiki_save_path, remote: true do |wiki|
      .form-inputs
        = wiki.text_area :content, style: "height: 520px; width: 100%;"
        = wiki.hidden_field :grid_name, value: @grid_name
        = wiki.hidden_field :screen_name, value: @screen_name
        = wiki.hidden_field :user_email, value: current_user.email
      .form-action
        = wiki.submit ' Save ', class: 'btn success', data: { disable_with: "Please wait..." }

    :javascript
      $(function() {
        KindEditor.create('textarea#wiki_content', {"height":520,"width":"100%","allowFileManager":true,"uploadJson":"/kindeditor/upload","fileManagerJson":"/kindeditor/filemanager",langType: 'en',items : ['source', '|', 'formatblock', 'fontname', 'fontsize', 'hr', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist', 'insertunorderedlist', '|', 'link', '|', 'image']});
      });
  - else
    - if @wiki
      = @wiki.content.to_s.html_safe
    - else
      .missing_notice
        - if @grid_name
          There is no wiki for #{@grid_name} grid yet
        - else
          There is no wiki for this screen yet
